<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="msapplication-tap-highlight" content="no"/>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Контакты</title>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/stylesheets/app.stylesheets.css">
</head>
<body>
  <!-- Application Wrapper -->
  <div id="application">
    <main id="main" class="page--contacts">
      
      <div class="u-container">
        <h2 class="heading">Контакты</h2>
        <!-- Contacts -->
        <div class="contacts-wrapper">
          <div class="contact-form">
            <div class="contact-notification">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, earum.
            </div>
            <form action="" class="form">
              <div class="field-row">
                <label class="label" for="name"><span class="required">*</span>Имя:</label>
                <input name="name" type="text" class="input-text" placeholder="Имя" required />
              </div>
              <div class="field-row">
                <label class="label" for="email-phone"><span class="required">*</span>Email / Телефон:</label>
                <input name="email-phone" type="text" class="input-text" placeholder="Email / Телефон" required />
              </div>
              <div class="field-row">
                <label class="label" for="message"><span class="required">*</span>Сообщение:</label>
                <textarea name="message" class="textarea" placeholder="Введите сообщение" required></textarea>
              </div>
              <div class="field-row">
                <input type="submit" class="submit" />
              </div>
            </form>
          </div>
          <div class="contact-data">
            <div class="contact">
              <div class="contact-heading">E-mail</div>
              <div class="contact-content">test@test.com</div>
            </div>
            <div class="contact">
              <div class="contact-heading">Skype:</div>
              <div class="contact-content">amdstroi</div>
            </div>
            <div class="contact">
              <div class="contact-heading">Телефон:</div>
              <div class="contact-content">+ 375 29 123 45 67</div>
            </div>
            <!-- Social -->
            <div class="social-icons">
              <ul class="social-icons-list">
                <li><a href="#"><i class="social-icon-item vk"></i></a></li>
                <li><a href="#"><i class="social-icon-item facebook"></i></a></li>
                <li><a href="#"><i class="social-icon-item instagram"></i></a></li>
              </ul>
            </div>
            <!-- End :: Social -->
          </div>
        </div>
        <!-- End :: Contacts -->

      </div>
    </main>



    <footer id="footer">
      <div class="footer--inner">
        <div class="logotype">
          
        </div>
        <div class="menu" id="js-footer-menu">
          <div class="list-header">
            <h3>Меню</h3>
          </div>
          <ul class="list">
            <li class="list-item"><a href="#">Главная</a></li>
            <li class="list-item">
              <a href="#" class="list-item-open">Услуги</a>
              <ul class="list--inner">
                <li class="list-item"><a href="#">Автополив</a></li>
                <li class="list-item"><a href="#">Газон</a></li>
                <li class="list-item"><a href="#">Мощение</a></li>
                <li class="list-item"><a href="#">Шлифовка сруба</a></li>
              </ul>
            </li>
            <li class="list-item"><a href="#">Наши работы</a></li>
            <li class="list-item"><a href="#">Контакты</a></li>
            <li class="list-item"><a href="#">Акции</a></li>
          </ul>
        </div>
        
        <!-- Contact & License Wrapper -->
        
        <div class="wrap">
          
          <!-- Contacts -->
          <div class="contacts">
            <div class="list-header">
              <h3>Контакты</h3>
            </div>
            <ul class="list">
              <li class="list-item">г. Минск, ул. Московская, 86</li>
              <li class="list-item">amdstroi@yandex.ru</li>
              <li class="list-item">+375 29 663 88 59</li>
              <li class="list-item">+375 29 607 76 77</li>
            </ul>
          </div>
          <!-- End :: Contacts -->
          <!-- License -->
          <div class="license">
            <div class="list-header">
              <h3>Лицензия</h3>
            </div>
            <ul class="list">
              <li class="list-item">ООО «АМД строй» УНП 192369231</li>
              <li class="list-item">
                Р/с 3012237330014 в ЗАО «Минский транзитный банк», код 117
              </li>
              <li class="list-item">г. Минск, пр. Партизанский, д. 6А</li>
            </ul>
          </div>
          <!-- End :: License -->

        </div>

        <!-- End :: Contact & License Wrapper -->


      </div>
      <div class="social">
        
      </div>
    </footer>
  </div>
  <!-- Application Wrapper -->
</body>
</html>