<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="msapplication-tap-highlight" content="no"/>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>AMD</title>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/stylesheets/app.stylesheets.css">
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Application Wrapper -->
  <div id="application">
    <header id="header">
      <nav class="header-nav">
        <nav class="header-menu-social">
          <ul class="list">
            <li class="item">
              <a href="#" class="link"><i class="icon vk"></i></a>
            </li>
            <li class="item">
              <a href="#" class="link"><i class="icon facebook"></i></a>
            </li>
            <li class="item">
              <a href="#" class="link"><i class="icon instagram"></i></a>
            </li>
          </ul>
        </nav>
        <nav class="header-menu is-closed-for-tablet" id="js-header-menu">
          <ul class="list">
            <li class="item is-active"><a class="link hvr-underline-from-center" href="#">Главная</a></li>
            <li class="item"><a class="link hvr-underline-from-center" href="#">Услуги</a></li>
            <li class="item"><a class="link hvr-underline-from-center" href="#">Наши Работы</a></li>
            <li class="item"><a class="link hvr-underline-from-center" href="./contact.html">Контакты</a></li>
            <li class="item"><a class="link hvr-underline-from-center" href="#">Акции</a></li>
          </ul>
        </nav>
        

        <nav class="header-tablet-nav" id="js-hamburger">
          <span>Меню</span>
          <button class="hamburger hamburger--squeeze"  type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </nav>
        

        <div class="header-nav-logotype"></div>

      </nav>
    </header>
    <main id="main">

      <link rel="stylesheet" href="assets/stylesheets/lightgallery/css/lightgallery.min.css">
      <!-- Gallery -->
      <div class="gallery-section">
        <div id="js-preloader" class="preloader" data-loader="circle-side"></div>
        <h2>Галерея наших работ</h2>


        <nav class="controls" id="js-controls">
          <a href="#" data-type="1">Автополив</a>
          <a href="#" data-type="2">Газон</a>
          <a href="#" data-type="3">Мощение</a>
          <a href="#" data-type="4">Шлифовка сруба</a>
        </nav>

        <div id="js-gallery">
          <div class="gallery" data-gallery="1">
            <a href="#">
              <img src="http://placehold.it/300" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/300" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/300" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/300" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/300" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/300" alt="">
            </a>
          </div>
          <div class="gallery" data-gallery="2">
            <a href="#">
              <img src="http://placehold.it/350" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/350" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/350" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/350" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/350" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/350" alt="">
            </a>
          </div>
          <div class="gallery" data-gallery="3">
            <a href="#">
              <img src="http://placehold.it/250" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/250" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/250" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/250" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/250" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/250" alt="">
            </a>
          </div>
          <div class="gallery" data-gallery="4">
            <a href="#">
              <img src="http://placehold.it/400" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/400" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/400" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/400" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/400" alt="">
            </a>
            <a href="#">
              <img src="http://placehold.it/400" alt="">
            </a>
          </div>
        </div>
      </div>
      <!-- End :: Gallery -->
    </main>



    <footer id="footer">
      <div class="footer--inner">
        <div class="logotype">
          
        </div>
        <div class="menu" id="js-footer-menu">
          <div class="list-header">
            <h3>Меню</h3>
          </div>
          <ul class="list">
            <li class="list-item"><a href="#">Главная</a></li>
            <li class="list-item">
              <a href="#" class="list-item-open">Услуги</a>
              <ul class="list--inner">
                <li class="list-item"><a href="#">Автополив</a></li>
                <li class="list-item"><a href="#">Газон</a></li>
                <li class="list-item"><a href="#">Мощение</a></li>
                <li class="list-item"><a href="#">Шлифовка сруба</a></li>
              </ul>
            </li>
            <li class="list-item"><a href="#">Наши работы</a></li>
            <li class="list-item"><a href="#">Контакты</a></li>
            <li class="list-item"><a href="#">Акции</a></li>
          </ul>
        </div>
        
        <!-- Contact & License Wrapper -->
        
        <div class="wrap">
          
          <!-- Contacts -->
          <div class="contacts">
            <div class="list-header">
              <h3>Контакты</h3>
            </div>
            <ul class="list">
              <li class="list-item">г. Минск, ул. Московская, 86</li>
              <li class="list-item">amdstroi@yandex.ru</li>
              <li class="list-item">+375 29 663 88 59</li>
              <li class="list-item">+375 29 607 76 77</li>
            </ul>
          </div>
          <!-- End :: Contacts -->
          <!-- License -->
          <div class="license">
            <div class="list-header">
              <h3>Лицензия</h3>
            </div>
            <ul class="list">
              <li class="list-item">ООО «АМД строй» УНП 192369231</li>
              <li class="list-item">
                Р/с 3012237330014 в ЗАО «Минский транзитный банк», код 117
              </li>
              <li class="list-item">г. Минск, пр. Партизанский, д. 6А</li>
            </ul>
          </div>
          <!-- End :: License -->

        </div>

        <!-- End :: Contact & License Wrapper -->


      </div>
      <div class="social">
        
      </div>
    </footer>
  </div>
  <!-- Application Wrapper -->

  <script src="assets/javascripts/application.build.js"></script>

  <script>
  (function($){
    $(function(){
      $hamburgerButton = $("#js-hamburger").find(".hamburger");
      $headerMenu = $("#js-header-menu");
      // Header Menu
      $("#js-hamburger").on("click", function(){
        $headerMenu.toggleClass("is-closed-for-tablet");
        $hamburgerButton.toggleClass("is-active");
      });

      // Footer Menu
      var $footerMenuListItems = $("#js-footer-menu").find(".list-item").has(".list--inner");
      $footerMenuListItems.find(".list-item-open").on("click", function(e){
        e.preventDefault();
        $(this).parent().toggleClass("isOpen");
      });
    });
  })(jQuery);
  </script>
</body>
</html>