.logotype {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border-radius: 50%;
  // background-image: url("../images/UI/footer/footer-logotype.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}